$km-red: rgb(239 0 16);
$km-light-gray: rgb(215 215 215);
$km-gray: rgb(110 110 110);
$km-dark-gray: rgb(74 74 73);
$km-silver:rgb(180 184 186);
$km-white:rgb(255 255 255);
$km-black:rgb(10, 10, 10);
$km-gold: rgb(137 110 74);
$km-dark-gray-blur: rgba(22,22,23,0.5);
$km-dark-gray-blur-0: rgba(22, 22, 23, 0);
$km-black-blur-0:rgb(0, 0, 0, 0.2);






