@font-face {
  font-family: 'Noto Sans';
  src: url('../assets/fonts/Noto_Sans/NotoSans-VariableFont_wdth\,wght.ttf') ;
  font-weight: 100 900; // Rango de peso de la fuente
  font-style:normal; // Estilo normal
}





p{

font-weight: 300!important;
font-variation-settings:
"wdth" 87.5;

font-size: 1.3rem;

}


h1,h2,h3,h4,h5,h6{
  font-variation-settings:
    "wdth" 87.5;
}




h2{


  font-size: 1.5rem!important;
  font-weight: 900!important;
}


h4{

  font-weight: 900;
  font-size: 1.2rem;


}




@media (max-width: 576px) {

  h2{


    font-size: 1.5rem;
    font-weight: 900;

  }

  h4{

    font-weight: 900;
    font-size: 1.4rem;


  }







}

