.PA31 {
    color: black;
    background-color: white;
    // Breakpoints
    $breakpoint-sm: 576px;
    $breakpoint-md: 768px;
    $breakpoint-lg: 992px;
    $breakpoint-xl: 1200px;




    //XXXXXXXXXXXXXXXXXXXXXXX MODAL DE NEUMATICO  XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

    #modalNeumatico {



        .modal-body {


            picture {



                img {
                    -webkit-user-drag: none;
                    /* Safari y Chrome */
                    -khtml-user-drag: none;
                    /* Konqueror */
                    -moz-user-drag: none;
                    /* Firefox */
                    -o-user-drag: none;
                    /* Opera */
                    pointer-events: none !important;
                    /* Evita la interacción con el clic derecho */


                    width: 100%;
                }
            }
        }

    }





    //XXXXXXXXXXXXXXXXXXXXXXX BUTTONS  XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX


    .container-buttons {
        position: relative;
        z-index: 2;

        .btn-custom {

            margin: 5px;
        }

        a {

            color: inherit;
            text-decoration: none;

        }

        .bi {
            margin-right: 3px !important;
        }


    }







    //XXXXXXXXXXXXXXXXXXXXXXX SECTION HEADER  XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX





    .container-img {
        cursor: pointer;
        width: 50%;
        text-align: center;
        position: relative;
        bottom: -100px;
        z-index: 0;


        a {

            img {
                width: 400px;
                -webkit-user-drag: none;
                /* Safari y Chrome */
                -khtml-user-drag: none;
                /* Konqueror */
                -moz-user-drag: none;
                /* Firefox */
                -o-user-drag: none;
                /* Opera */
                pointer-events: none !important;
                /* Evita la interacción con el clic derecho */


            }
        }
    }


    .section-header {
        background-color: black;
        position: relative;
        color: white;


        .encabezado {
            width: 80%;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;

            .container-descript-gral {

                width: 50%;

                .desing-modelo {
                    margin-bottom: 16px;
                    display: flex;
                    gap: 20px;

                    h1 {
                        margin-bottom: 0px;
                        font-weight: 900;
                        font-size: 3rem;
                    }

                    img {
                        width: 250px !important;
                        height: 40px;
                        align-self: center;
                    }
                }
            }

        }

    }


    @media screen and (max-width:$breakpoint-lg) {
        .section-header {
            padding-top: 90px;

            .encabezado {
                flex-direction: column;

                .container-descript-gral {
                    width: 100%;


                    p {}

                    .desing-modelo {
                        justify-content: center;


                        h1 {
                            font-size: 3.5rem;
                        }





                    }

                    .container-buttons {
                        display: flex;
                        flex-direction: column;
                        text-align: center;
                    }
                }

                .container-img {
                    width: 100%;

                    bottom: -20px;


                }

                .container-descript-gral {}
            }

        }

    }

    @media screen and (max-width:$breakpoint-sm) {

        .container-descript-gral {


            .desing-modelo {
                margin-bottom: 0px;
                flex-direction: column;
                align-items: center;


            }

        }




    }



    @media screen and (min-width: $breakpoint-lg) and (max-width: 1423px) {


        .container-buttons {

            .btn-custom {
                a {
                }
            }
        }

        .section-header {

            .encabezado {

                .container-descript-gral {



                    .desing-modelo {
                        margin-bottom: 0px;

                        img {
                            width: 200px !important;
                            height: 30px !important;

                        }

                        h1 {}


                    }


                }


            }

        }


    }

    //XXXXXXXXXXXXXXXXXXXXXXX SEPARADOR XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
    .separator {
        width: 100%;
        position: absolute;
        bottom: 0;
        padding: 0px !important;





        img {
            max-height: 170px;
            width: 100% !important;


        }


    }



    @media screen and (max-width:$breakpoint-lg) {
        .separator {

            bottom: 130px;






        }

    }

    @media screen and (max-width: $breakpoint-sm ) {

        .separator {

            bottom: 130px;

        }


    }




    //XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX ROW DESCRIPTION XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX


    .container-rows {
        background-color: white;
        color: black;
        position: relative;
        margin-top: -1px;

        .fila-gral {
            display: flex;
            align-items: center;
            gap: 200px;
            width: 80%;
            margin: 0 auto 100px auto;


            .description {
                width: 50%;

                ul {

                    list-style: none;



                }

            }

            .img-description {


                img {
                    width: 600px;
                    border-radius: 10px;
                    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);

                }
            }

        }


        .fila-1 {
            padding-top: 100px;
        }




    }




    .fila-3 {
        flex-direction: column;

        gap: 50px !important;

        .video-container {
            video {
                width: 600px;
                border-radius: 10px !important;
                box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);


            }

        }
    }



    .fila-2 {
        .img-description {


            img {
                box-shadow: none !important;
                border: none !important;
            }
        }

    }








    @media screen and (max-width:$breakpoint-lg) {
        .container-rows {

            margin-top: -130px;


            .fila-gral {

                flex-direction: column;
                width: 100%;
                gap: 100px;

                .fila-1 {}

                .description {
                    width: 90%;

                }

            }

            .fila-1 {
                padding-top: 50px;

                .img-description {
                    order: 2;
                }
            }

            .fila-2 {
                .img-description {
                    order: 2;
                }
            }

            .fila-4 {
                .img-description {
                    order: 2;
                }
            }



        }

    }

    @media screen and (max-width: $breakpoint-sm ) {
        .fila-1 {
            padding-top: 50px;
        }

        .container-rows {}

    }

    //xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    //SLIDER Y CARDS OTROS DISEÑOS

    .otros-diseños {
        background-color: black;
        color: white;

        padding-bottom: 30px;
        text-align: center;
        position: relative;


        h2 {
            padding: 20px;
        }


        .modelo-dis {
            color: black;

            p {
                margin-bottom: 0px;
            }
        }


    }

    .img-neumatico {

        transition: transform 0.3s ease, filter 0.3s ease;
        cursor: pointer;


    }


    .img-neumatico:hover {
        transform: translateY(-2%);
    }


    .swiper-slide {
        position: relative;
        text-align: center;

        .modelo-dis {
            .logo {
                width: 150px;
                padding-bottom: 10px;
            }
        }

    }


    /* sombra debajo del neumatico*/
    .swiper-slide::after {
        content: '';
        position: absolute;
        bottom: 75px;
        left: 50%;
        /* Centrar la sombra horizontalmente */
        transform: translateX(-50%) scaleY(-1);
        width: 50%;
        /* Ancho de la sombra */
        height: 4%;
        /* Altura de la sombra */
        background: rgba(0, 0, 0, 1);
        filter: blur(0.25rem);
        /* Color de la sombra */
        border-radius: 50%;
        opacity: 0;
        /* Inicialmente oculto */
        transition: opacity 0.3s ease;
        /* Transición suave para la opacidad */
        z-index: 9999;

    }


    .swiper-slide.hover::after {
        opacity: 1;

    }



    @media screen and (min-width: $breakpoint-lg) {

        .swiper {
            width: 1000px;

        }
    }


    @media screen and (max-width: $breakpoint-lg) {

        .swiper {

            width: 700px
        }
    }



    @media screen and (max-width: $breakpoint-md) {

        .swiper {

            width: 500px
        }
    }


    @media screen and (max-width: $breakpoint-sm) {

        .swiper {

            width: 250px
        }
    }







    .swiper-slide {

        box-sizing: border-box;
        padding: 5px;
        border-radius: 10px;
        background-color: white;
        height: auto;

        .img-neumatico {

            width: 150px;
            margin-bottom: 10px;
        }
    }







    .swiper-pagination-bullet {
        opacity: 1;
        width: 20px;
        /* Anchura del indicador */
        height: 1px;
        /* Altura del indicador */
        /* Espacio entre indicadores */
        /*     text-indent: -999px;*/
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.5);
        /* Color de fondo de los indicadores */
        /* Bordes ligeramente redondeados */
    }

    .swiper-pagination-bullet-active {
        background-color: #fff
    }





    .swiper-button-next,
    .swiper-button-prev {
        color: $km-black;
        /* Cambiar color */
        background-color: rgba(255, 255, 255, 0.5);
        /* Fondo semitransparente */
        border-radius: 50%;
        /* Bordes redondeados */
        width: 50px;
        /* Ancho fijo */
        height: 50px;
        /* Alto fijo */
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 0.3s ease, box-shadow 0.3s ease;
        /* Transiciones suaves */
    }

    .swiper-button-next::after,
    .swiper-button-prev::after {
        font-size: 20px;
        /* Tamaño de la flecha */
    }

    .swiper-button-next:hover,
    .swiper-button-prev:hover {
        background-color: rgba(0, 0, 0, 0.5);
        /* Cambio de color de fondo en hover */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        /* Sombra en hover */
        cursor: pointer;
        /* Cambia el cursor a una mano para indicar que es clickeable */
    }





    @media screen and (max-width: $breakpoint-sm) {

        .swiper-pagination-bullet {

            width: 15px;

        }



    }


    @media screen and (max-width: $breakpoint-md) {

        .swiper-button-next,
        .swiper-button-prev {
            display: none;
        }

    }













}