


.container-copyright{
    height: 20px;
    color: white;
    font-weight: lighter;
    font-size: small;
    text-align: center;
    background-color: #171717ff;
    margin-bottom: 0px;
    padding-bottom: 0px;

    p{
        font-size: 15px;
        margin-bottom: 0px!important;
        padding: 0px;

    }




}


