.utilitarios {
    padding-top: 0px;
    background-color: black;


    .skewed {
        position: relative;
        height: 700px;
        background: url('../assets/images/sitio-utilitarios/vw-crafter-cargo-van_imagen-panoramica_16x9_2560x1440px_oct2023.webp');
        background-size: cover;
        z-index: 1;

        /* Alinea los elementos al inicio */

        /* No es necesario pero establece el contexto del stack para z-index */
    }

    .skewed::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50%;
        background: linear-gradient(178deg,
                transparent 35%,
                /* Ajusta para controlar dónde comienza el desvanecimiento */
                black 90%
                /* Cambia a 100% para que el blanco cubra la parte inferior */
            );
        z-index: -1;
    }




    .text-banner {
        color: #fff !important;

        /* Asegura que el texto aparece sobre el efecto de desvanecimiento */
        h2 {
            text-shadow: 0px 5px 5px rgba(2, 0, 0, 5);




            /* Tamaño base + un porcentaje del ancho de la ventana */
            /* No necesitas 'position: relative;' aquí, ya que su contenedor '.text-banner' ya es absoluto */
        }

        p {
            text-shadow: 3px 3px 3px rgba(0, 0, 0, 1);
            /* Otros estilos adicionales para 'p' si son necesarios */
        }
    }







































    /* Media queries para ajustar la máscara en pantallas más pequeñas */
    @media (min-width: 1200px) {}




    @media (max-width: 1200px) {
        .skewed::after {

            background: linear-gradient(177deg,
                    transparent 75%,
                    /* Ajusta para controlar dónde comienza el desvanecimiento */
                    black 90%
                    /* Cambia a 100% para que el blanco cubra la parte inferior */
                );
        }
    }




    @media (max-width: 768px) {

        .skewed::after {
            background: linear-gradient(177deg,
                    transparent 75%,
                    /* Ajusta para controlar dónde comienza el desvanecimiento */
                    black 90%
                    /* Cambia a 100% para que el blanco cubra la parte inferior */
                );
        }
    }

    @media (max-width: 480px) {




        .skewed::after {
            height: 500px;

            background: linear-gradient(177deg,
                    transparent 75%,
                    /* Ajusta para controlar dónde comienza el desvanecimiento */
                    black 90%
                    /* Cambia a 100% para que el blanco cubra la parte inferior */
                );
        }
    }






    .carousel-ecsta {
        width: 10%;
    }

    .KDR01-KSR01{

        width: 27%;
        margin-top: 50px;


    }

    .carousel-solus {
        width: 40%;

    }

    .carousel-ecowing {
        width: 27%;
    }




    .swiper-slide img {
        width: 140px;
        padding: 5px;
    }





    .swiper-slide {

        box-sizing: border-box;
        padding: 5px;
        border-radius: 10px;
        background-color: white;
    }




    .modelo-dis {
        display: flex;
        align-items: center;
        justify-content: center;

    }



    .modelo-dis .logo {
        width: 100px;
    }






    .modelo-dis p {
        font-weight: 1000;
        font-style: italic;
        margin: 5px;

    }




    .img-neumatico {

        transition: transform 0.3s ease, filter 0.3s ease;
        cursor: pointer;


    }








    .img-neumatico:hover {
        transform: translateY(-2%);
    }



    .card-fondo {
        position: relative;

        text-align: center;


    }




    /* sombra debajo del neumatico*/
    .card-fondo::after {
        content: '';
        position: absolute;
        bottom: 15%;
        left: 50%;
        /* Centrar la sombra horizontalmente */
        transform: translateX(-50%) scaleY(-1);
        width: 50%;
        /* Ancho de la sombra */
        height: 4%;
        /* Altura de la sombra */
        background: rgba(0, 0, 0, 1);
        filter: blur(0.25rem);
        /* Color de la sombra */
        border-radius: 50%;
        opacity: 0;
        /* Inicialmente oculto */
        transition: opacity 0.3s ease;
        /* Transición suave para la opacidad */
        z-index: 9999;

    }







    .card-fondo.hover::after {
        opacity: 1;
        /* Hacer visible la sombra */
        /* z-index: 99999; Si es necesario, ajusta según el contexto */
    }





    // estilos de indicadores
    .swiper-button-prev:after,
    .swiper-button-next:after {
        content: "";
    }


    .swiper-pagination-bullet {
        opacity: 1;
        position: relative;
        width: 30px;
        /* Anchura del indicador */
        height: 2px;
        /* Altura del indicador */
        margin: 5px 5px;
        /* Espacio entre indicadores */
        /*     text-indent: -999px;*/
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.5);
        /* Color de fondo de los indicadores */
        border-radius: 0px;
        /* Bordes ligeramente redondeados */
        transition: background-color .3s;
    }

    .swiper-pagination-bullet-active {
        background-color: #fff
    }

    .swiper-pagination {
        top: 15px;
        position: relative;
    }

    .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
    .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 10px 4px
    }











    //xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

    //media query slider de neumaticos

    @media screen and (max-width: 500px) {
        .carousel-ecowing {
            width: 70%
        }
        .KDR01-KSR01{
            width: 70%;
        }



    }
    @media screen and (min-width: 500px) and (max-width: 790px) {
        .carousel-ecowing {
            width: 80%
        }

        .KDR01-KSR01{
            width: 80%;
        }


    }

    @media screen and (min-width: 790px) and (max-width: 1150px) {
        .carousel-ecowing {
            width: 60%
        }
        .KDR01-KSR01{
            width: 60%;
        }

    }

    @media screen and (min-width: 1150px) and (max-width: 1550px) {
        .carousel-ecowing {
            width: 40%
        }
        .KDR01-KSR01{
            width: 40%;
        }

    }

    //xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

    //media querys controles indicadores de sliders

    @media screen and (min-width: 768px) {}

    .carousel-ecsta {
        position: relative;
        /* Asegúrate de que el contenedor tenga una posición definida */
    }

    .swiper-button-next,
    .swiper-button-prev {
        position: absolute;
        top: 50%;
        /* Alinea los controles verticalmente en el centro del contenedor */
        transform: translateY(-50%);
        /* Ajusta la posición vertical */
        z-index: 10;
        /* Asegúrate de que los controles estén sobre las diapositivas */
    }


    .swiper-button-prev {
        left: 10px;
        /* Alinea el botón de anterior a la izquierda */
    }




    .swiper-button-prev,
    .swiper-button-next {
        background-color: red;


    }



    //xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

    //media querys text-banner


    @media screen and (max-width: 500px) {


        .skewed {
            height: 700px;
            background-repeat: no-repeat;
            background-position: -600px 60px;
            background-size: cover;



            /* Alinea los elementos al inicio */

            /* No es necesario pero establece el contexto del stack para z-index */
        }


        .skewed::after {
            height: 700px;

            background: linear-gradient(177deg,
                    transparent 75%,
                    /* Ajusta para controlar dónde comienza el desvanecimiento */
                    black 90%
                    /* Cambia a 100% para que el blanco cubra la parte inferior */
                );
        }

        .text-banner {

            position: absolute;
            color: #171717;
            z-index: 2;
            top: 10%;
padding: 10px;


            /* Asegura que el texto aparece sobre el efecto de desvanecimiento */
            h2 {

                font-size: 1.5rem;

                font-weight: 900;
                text-align: center;

                /* Tamaño base + un porcentaje del ancho de la ventana */
                /* No necesitas 'position: relative;' aquí, ya que su contenedor '.text-banner' ya es absoluto */
            }

            p {
                text-align: center;
                font-size: 1rem;

                font-weight: 300;
                /* Estilos adicionales para 'p' si son necesarios */
            }
        }

    }



    @media screen and (min-width: 500px) and (max-width:1000px) {


        .skewed {
            height: 700px;
            background-repeat: no-repeat;
            background-position: center -55px;




            /* Alinea los elementos al inicio */

            /* No es necesario pero establece el contexto del stack para z-index */
        }


        .skewed::after {
            height: 700px;

            background: linear-gradient(177deg,
                    transparent 75%,
                    /* Ajusta para controlar dónde comienza el desvanecimiento */
                    black 90%
                    /* Cambia a 100% para que el blanco cubra la parte inferior */
                );
        }

        .text-banner {

            position: absolute;
            color: #171717;
            z-index: 2;
            top: 10%;
            width: 500px;
            padding: 20px;



            /* Asegura que el texto aparece sobre el efecto de desvanecimiento */
            h2 {

                font-size: 1.3rem;

                font-weight: 900;
                text-align: center;

                /* Tamaño base + un porcentaje del ancho de la ventana */
                /* No necesitas 'position: relative;' aquí, ya que su contenedor '.text-banner' ya es absoluto */
            }

            p {
                text-align: center;
                font-size: 1rem;

                font-weight: 300;
                /* Estilos adicionales para 'p' si son necesarios */
            }
        }

    }




    @media screen and (min-width: 1000px) and (max-width: 1327px) {


        .skewed {
            height: 600px;
            background-repeat: no-repeat;
            background-position: center -10%;

            /* Alinea los elementos al inicio */

            /* No es necesario pero establece el contexto del stack para z-index */
        }


        .skewed::after {
            height: 600px;

            background: linear-gradient(177deg,
                    transparent 75%,
                    /* Ajusta para controlar dónde comienza el desvanecimiento */
                    black 90%
                    /* Cambia a 100% para que el blanco cubra la parte inferior */
                );
        }






        .text-banner {


            position: absolute;
            color: #171717;
            z-index: 2;




            top: 20%;

            width: auto;
            ;
padding: 20px;
            left: 0px;





            /* Asegura que el texto aparece sobre el efecto de desvanecimiento */
            h2 {
                width: 550px;

                font-size: 1.9em!important;





                font-weight: 900;
                text-align: center;

                /* Tamaño base + un porcentaje del ancho de la ventana */
                /* No necesitas 'position: relative;' aquí, ya que su contenedor '.text-banner' ya es absoluto */
            }

            p {
                width: 550px;
                text-align: center;
                font-size: 1.1rem!important;

                font-weight: 200;
                /* Estilos adicionales para 'p' si son necesarios */
            }
        }

    }












    @media screen and (min-width: 1326px) {

        .skewed {
            height: 700px;
            background-repeat: no-repeat;
            background-position: center 35%;

        }


        .skewed::after {
            height: 700px;

            background: linear-gradient(178deg,
                    transparent 75%,
                    /* Ajusta para controlar dónde comienza el desvanecimiento */
                    black 90%
                    /* Cambia a 100% para que el blanco cubra la parte inferior */
                );
        }




        .text-banner {


            color: #171717;
            z-index: 2;
            width: auto;
            top: 100px;
            left: 40px;
            position: absolute;
            right: 200px;


            /* Asegura que el texto aparece sobre el efecto de desvanecimiento */
            h2 {
                width: 600px;

                margin-bottom: 20px;
                font-weight: 900;
                font-size: 2.5rem;
                text-align: center;

                /* Tamaño base + un porcentaje del ancho de la ventana */
                /* No necesitas 'position: relative;' aquí, ya que su contenedor '.text-banner' ya es absoluto */
            }

            p {
                width: 550px;
                text-align: center;

                font-weight: 300;

                /* Estilos adicionales para 'p' si son necesarios */
            }
        }




    }

}